
.header {
    background-color: black;
    border-bottom: 1px solid #555;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

   
    .header .container {
        display: flex;
        align-items: center;
        gap: 12px;
    }


.brand-link {
    text-decoration: none;
}


.logo-img {
    height: 41px;
    width: auto;
    border-radius: 0px;
    padding: 0px;
    background: transparent;
}



body {
    padding-top: 72px; 
}
