
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
